<section class="container">
    <div class="container__header">
        <input 
        type="text" 
        placeholder="Buscar Producto" 
        class="container__text" 
        [(ngModel)]="filterName" 
        (input)="searchProduct()"
        >
    </div>
    <div class="container__body">
        <div class="container__scroller">
            <table class="container__table" *ngIf="productFiltered.length > 0">
                <thead class="container__head">
                    <tr class="container__colums">
                        <th class="container__cell">Logo</th>
                        <th class="container__cell">Nombre del producto</th>
                        <th class="container__cell">Descripción
                            <img src="assets/icon-info.svg" alt="Informacion" class="container__icon">
                        </th>
                        <th class="container__cell">Fecha de liberación
                            <img src="assets/icon-info.svg" alt="Informacion" class="container__icon">
                        </th>
                        <th class="container__cell">Fecha de restructuración
                            <img src="assets/icon-info.svg" alt="Informacion" class="container__icon">
                        </th>
                    </tr>
                </thead>
                <tbody class="container__tbody">
                    <tr class="container__row" *ngFor="let product of productFiltered">
                        <td class="container__cell">
                            <img class="container__logo" [src]="product.logo" alt="image-producto" *ngIf="product.logo">
                        </td>
                        <td class="container__cell">{{ product.name }}</td>
                        <td class="container__cell">{{ product.description }}</td>
                        <td class="container__cell">{{ dateCurrent[0] }}</td>
                        <td class="container__cell">{{ dateCurrent[1] }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert" *ngIf="productFiltered.length === 0">
                <p class="alert__message">No hay registros disponibles</p>
              </div>
        </div>
        <div class="container__select">
            <p class="container__results">Cantidad de registros:{{productFiltered.length}}</p>
            <select
              class="container__quantity"
              [(ngModel)]="select"
              (change)="searchProduct()"
            >
              <option [value]="option" *ngFor="let option of optionSelect">{{option}}</option>
            </select>
          </div>
    </div>
</section>
